<h1>Activity Pictures of <%= @activity.name %></h1>

<%= link_to "Add Pictures",new_activity_gallery_path(@activity),
  class: "btn btn-primary", role: "button" %>

<%= link_to "Back", activity_path(@activity),
  class: "btn btn-default", role: "button" %>

<div class="jumbotron">
  <% @activity.galleries.each_slice(3) do |group| %>
    <div class="row">
      <% group.each do |g| %>
        <div class="col-sm-4 col-md-4">
          <div class="thumbnail">
            <%= link_to image_tag(g.picture_url), g.picture_url %>
              <div class="caption">
                <div class="btn-group btn-group-justified" role="group" aria-label="">
                  <%# link_to "Edit", edit_activity_gallery_path(@activity, g),
                    class: "btn btn-warning", role: "button" %>
                  <% link_to g.picture_url, popup: 'original image',
                    class: "btn btn-default", role: "button" %>
                  <%= link_to "Delete", [@activity, g],
                    method: :delete, data: { confirm: 'Are you sure?' },
                    class: "btn btn-danger", role: "button" %>
                </div>
              </div>
            </div>
            <% (3 - group.length).times.each do |fake_div| %>
            <div class="item empty">
            </div>
            <% end %>

          </div>
      <% end %>
    </div>
  <% end %>
</div>
