<% provide(:title, @activity.name) %>
<head>

</head>
<div class="jumbotron">
  <div>
    <h3><%= @activity.name %></h3>
    <% if current_user.admin? %>
      <%= link_to "Add Pictures", new_activity_gallery_path(@activity),
        class: "btn btn-primary", role: "button" %>

      <%= link_to "Edit Pictures", activity_galleries_path(@activity),
        class: "btn btn-warning", role: "button" %>

      <%= link_to "Edit Activity", edit_activity_path(@activity),
        class: "btn btn-warning", role: "button" %>
    <% end %>
    <div class="row">
      <div class="col-sm-9 col-md-9">

        <% @activity.galleries.each do |p| %>
        <%# <a href=" p.picture_url.to_s" data-lightbox="bouldering"> %>
          <div class="thumbnail">
          <%= image_tag p.picture_url %>
        </div>
        <% end %>
        <%# image_tag @activity.avatar.url if @activity.avatar? %>
        <%# @activity.galleries.each do |p| %>
          <%# link_to image_tag(p.picture_url), "1", :data-lightbox => "boudering" %>
        <%# end %>

      </div>
        <div class="col-sm-3 col-md-3">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Quick Bit</h3>
            </div>
            <div class="panel-body">
              Price Range: <p class="text-left">$<%= @activity.range %></p>
              Duration: <p class="text-left"><%= @activity.duration %></p>
              Party size: <p class="text-left">
                <%= @activity.min_people %>-<%= @activity.max_people %></p>
              Environment: <p class="text-left"><%= @activity.environment %></p>
              Season:      <p class="text-left"><%= @activity.season %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm12 col-md-12">
          <div class="well well-lg">
            <dt> About </dt>
            <%= @activity.description %>
          </div>
        </div>
      </div>
    <% if current_user.admin? %>
      <%= link_to "Delete Activity", @activity, method: :delete,
                                        data: { confirm: "Are you sure?" } %>

    <% end %>
  </div>

</div>
